.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: var(--admin-color-canvas);
}

.wrapper {
  width: 100%;
  max-width: calc(var(--admin-content-max-width) + var(--mantine-spacing-xl) * 2);
  flex: 1;
  padding: var(--mantine-spacing-lg);

  @media (--md) {
    padding: var(--mantine-spacing-xl);
  }
}
