# ==================================
# HTTP API
# ==================================
NEXT_PUBLIC_CLIENT_API_URL=http://localhost:3001
CLIENT_API_INTERNAL_URL=http://localhost:3001

# ==================================
# СБОРКА
# ==================================
NEXT_STANDALONE=0
NEXT_DIST_DIR=.next
