# ==================================
# ЛОКАЛЬНЫЙ СЕРВЕР
# ==================================
VITE_HOST=localhost
VITE_PORT=5173
VITE_HTTPS=false

# ==================================
# HTTP API
# ==================================
VITE_BACKEND_URL=http://127.0.0.1:3002
