.root {
  padding: 6px 8px;
  border-radius: var(--mantine-radius-md);
  color: var(--mantine-color-text);
  transition: background-color 120ms ease;

  &:hover,
  &.active {
    background: var(--mantine-color-default-hover);
  }
}
