# ==================================
# БАЗА ДАННЫХ
# ==================================
POSTGRES_PORT=5544
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=default-db

# ==================================
# ФАЙЛОВОЕ ХРАНИЛИЩЕ
# ==================================
S3_PORT=9000
S3_CONSOLE_PORT=9001
S3_ACCESS_KEY=user
S3_SECRET_KEY=password
S3_BUCKET=default-bucket
