.root {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  &._empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-height: 100px;
    background: var(--app-color-soft);
    color: var(--app-color-muted);
    font-size: 12px;
  }
}

.image {
  object-fit: cover;

  &._contain {
    object-fit: contain;
  }
}
